body {
    background-color: black;
}

h1 {
    color:white;
    
}

 p {
   color: white;
    font-family: verdana;
    font-size: 20px;
 }
 ol{
    color:white;
    list-style-type:upper-alpha;
 }
 ul {
    color: white;
    list-style-type: square;
 }
 div{
    color: white;
    border: dotted;
    width: 100px;
    height: 100px;
 }
 
 

 